.input100 {
    font-family: Ubuntu-Bold;
    font-size: 15px;
    color: #a77211;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 55px;
    background: #ebebeb;
    border-radius: 27px;
    padding: 0 35px;
    margin: 20px;
}
.wrap-input100 {
  width: 100%;
  background-color: #fff;
  border-radius: 27px;
  position: relative;
  z-index: 1;
}
.wrap-input100 input {
    outline: none;
    border: none;
}
button, input {
    overflow: visible;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.input {
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
      cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
body, html {
    height: 100%;
    font-family: Ubuntu-Regular,sans-serif;
}
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: rgb(221, 208, 196);
}

.flex-col-c {
	display: flex;
		flex-direction: column;
	align-items: center;
}

a {
	font-family: Ubuntu-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #f2f0f5;
}

button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}
    .txt1 {
        font-family: Ubuntu-Regular;
        font-size: 15px;
        color: #999999;
        line-height: 1.4;
      }
      
       .txt3 {
        font-family: Ubuntu-Bold;
        font-size: 15px;
        color: #dd9a0a;
        line-height: 1.4;
        text-transform: uppercase;
      }
        
      .limiter {
        width: 100%;
       margin:60px auto;
      }
      
      .container-login100 {
        width: 100%;  
        min-height: 100vh;
       display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 15px;
        position: relative;
        background-color: #fff;
      }
      
      .wrap-login100 {
        width: 500px;
        margin: auto;
        background: #fff;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
              }
      
      .login100-form {
        width: 100%;
        position: relative;
      }
      
      .login100-form-title {
        font-family: JosefinSans-Bold;
        font-size: 30px;
        color: #fff;
        line-height: 1.2;
        text-align: center;
      
        display: block;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        background-color: #dd9a0a;
        padding-top: 50px;
        padding-bottom: 39px;
      }

      .focus-input100 {
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 50%;
  border-radius: 31px;
        background-color: #ebebeb;
        pointer-events: none;
        
              }
      
      .container-login100-form-btn {
        padding: 10px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      margin: 20px;
      }
      
      .login100-form-btn {
          display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        width: 100%;
        height: 50px;
        background-color: #dd9a0a;
        border-radius: 25px;
      
        font-family: Ubuntu-Bold;
        font-size: 15px;
        color: #fff;
        line-height: 1.2;
        text-transform: uppercase;
      
             }
      .validate-input {
        position: relative;
      }
      .p-b-40 {padding-bottom: 40px;}
      .p-b-9 {padding-bottom: 9px;}
      .p-t-100 {padding-top: 100px;}
      .p-t-178 {padding-top: 178px;}
      .p-r-55 {padding-right: 55px;}
      .m-b-16 {margin-bottom: 16px;}

      
      .login100-form-btn:hover {
        background-color: #362106;
      }
      .input100:focus + .focus-input100 {
        width: calc(100% + 20px);
      }
      
      .navbar {
        background: rgb(173, 6, 6);
        color: rgb(224, 16, 16);
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
      
      .navlink {
        display: inline-block;
        padding: 10px 15px;
        color: white;
        cursor: pointer;
      }
      
      .navlink:hover {
        text-decoration: underline;
      }


      .homepage{
        border-radius: 5px;
        border: 2px solid #e48c07;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 60px auto;
        width: 100%;
        max-width:400px;
              }


/* Course Styling */


.grid-4-div {
	/* max-width: 1260px; */
	width: 100%;
	/* margin: auto; */
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
	/* grid-template-columns: repeat(3, 1fr); */
	gap: 20px;
}


.course {
	display: flex;
	max-width: 330px;
	background-color:rgb(0, 238, 255);
	border: 1px solid rgb(190, 146, 87);
	border-radius: 0.2em;
	padding: 1em;
   

	box-shadow: 0px 13px 5px -10px rgb(230, 210, 123);
	transition: all 200ms;
	cursor: pointer;
}

.course:hover {
	transform: translateY(-3px);
	box-shadow: 0px 13px 15px -10px rgb(209, 161, 106);
}

.course-title {
	color: rgb(99, 60, 9);
	font-weight: 700;
}

.link {
color: #220894;
font-weight:bolder;

}